openapi: 3.2.0
info:
  title: HoneyBook API (Modeled) Payments API
  description: HoneyBook does not publish a self-serve public developer API or a public API reference.
  version: 1.0-modeled
  contact:
    name: HoneyBook
    url: https://www.honeybook.com
servers:
- url: https://api.honeybook.com/v1
  description: Modeled base path (unverified; not publicly documented by HoneyBook)
security:
- oauth2: []
tags:
- name: Payments
  description: Card and ACH payments made against invoices.
paths:
  /payments:
    get:
      operationId: listPayments
      tags:
      - Payments
      summary: List payments
      description: Modeled from the "Payment Received" Zapier trigger, which fires on any successfully paid client payment, manual or automatic.
      parameters:
      - name: invoice_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A list of payments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /payments/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getPayment
      tags:
      - Payments
      summary: Retrieve a payment
      responses:
        '200':
          description: The requested payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    Payment:
      type: object
      properties:
        id:
          type: string
        invoice_id:
          type: string
        amount:
          type: number
        method:
          type: string
          enum:
          - card
          - ach
          - manual
        status:
          type: string
          enum:
          - succeeded
          - pending
          - failed
        paid_at:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      description: Third-party integration guides reference OAuth 2.0 against api.honeybook.com, but are inconsistent on the exact token endpoint and grant type and are not independently verifiable. Modeled here as an authorization-code flow with refresh tokens, the most common pattern for a user-data platform of this kind; treat as unverified.
      flows:
        authorizationCode:
          authorizationUrl: https://api.honeybook.com/oauth/authorize
          tokenUrl: https://api.honeybook.com/oauth/token
          scopes:
            clients.read: Read clients and inquiries.
            clients.write: Create and update clients and inquiries.
            projects.read: Read projects and pipeline stage.
            projects.write: Create and update projects.
            contracts.read: Read contracts.
            contracts.write: Create contracts.
            proposals.read: Read proposals.
            proposals.write: Create proposals.
            invoices.read: Read invoices.
            invoices.write: Create invoices.
            payments.read: Read payments.
            scheduler.read: Read session types and bookings.
            scheduler.write: Create bookings.
            webhooks.write: Manage webhook subscriptions.
externalDocs:
  description: HoneyBook integrations and partnerships help center
  url: https://help.honeybook.com/en/collections/68941-integrations-and-partnerships
